
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Custom View Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
    <style>
        img {
            vertical-align: middle;
        }

        .form-group {
            margin-bottom: 15px;
            margin-left: -15px;
        }

        header {
            background-color: #006ac3;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>



</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 ">
                    <div class="header container-flex">
                        <img src="~/Content/Images/logo.svg" />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container ">
        <div class="row">
            <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 ">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

